<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SRIPArchiveClientToolsForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SRIPArchiveClientForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SRIP_ArchiveClientForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SRIPArchiveClientToolsForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SRIPArchiveClientForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <appSettings>
        <add key="OutputISOFileName" value="ISOImage" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="UXURL" value="https://ValidDomainNameRequiredHere/CallRecorder/" />
        <add key="ArchiveRecycleBin" value="False" />
        <add key="ConsoleAppName" value="SRIPArchiveClientConsole" />
        <add key="MaxAttemptsToUpdateDB" value="3" />
        <add key="OverrideFormatFileSize" value="0" />
        <add key="NumberOfCPUConnection" value="2" />
        <add key="TzDataDir" value="tzdata\" />
        <add key="WindowsToOlsonMapDir" value="WindowsToOlsonMap\" />
        <add key="DestinationDir" value="\CTI Group\TimeZone\v2-0-4\" />
        <add key="ArchiveWebService" value="archiveservices/archivews.asmx" />
        <add key="ISOFileFormat" value="0" />
        <add key="MaxReceivedMsgSize" value="2147483647" />
        <add key="MaintainWindowPosition" value="True" />
        <add key="UpdateArchiveDbTables" value="false" />
        <add key="VerboseStatusMsg" value="false" />
        <add key="AudioExtensionList" value=".MP3;.MP4" />
        <add key="ValidFileExtensions" value=".MP3;.SRF" />
        <add key="TZIndex" value="30" />
        <add key="UserName" value="Download" />
        <add key="ArchiveNumberOfDaysLimit" value="90" />
        <add key="ARCURL" value="https://callrecorder.yourservices.co.uk/callrecorder/" />
        <add key="DoNotCreateISO" value="False" />
        <add key="DoNotUpdateArchiveDbTables" value="True" />
        <add key="DoNotDownloadVideoFiles" value="True" />
        <add key="MaxNumberFilesToDownloadAtOnce" value="7" />
        <add key="NumberOfCPUs" value="4" />
        <add key="ISOViewerOutputLocation" value="c:\Temp\ISO Files\ViewerOutputLocation\" />
        <add key="SaveDownloadedFiles" value="False" />
        <add key="EndDate" value="10/22/2012 1:20:59 PM" />
        <add key="MediaVolumeName" value="HIPCOM" />
        <add key="ISODirectoryLayout" value="C:\HIPCOM\London\Download\RecordedCallFiles\" />
        <add key="StartDate" value="9/30/2012 1:00:00 PM" />
        <add key="IncludeArchivedCalls" value="True" />
        <add key="OutputLocation" value="C:\Temp\ISO Files\Download_2012_10_25T222238_7_ISOImage.iso" />
    </appSettings>    
  
    <system.web>
      <membership defaultProvider="ClientAuthenticationMembershipProvider">
        <providers>
          <add name="ClientAuthenticationMembershipProvider"
               type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
               serviceUri="" />
        </providers>
      </membership>
    
      <roleManager defaultProvider="ClientRoleProvider" enabled="true">
        <providers>
          <add name="ClientRoleProvider"
               type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
               serviceUri=""
              cacheTimeout="86400" />
        </providers>
      </roleManager>    
    </system.web>

    <applicationSettings>
        <SRIPArchiveClientToolsForm.Properties.Settings>
            <setting name="SRIPArchiveClientForm_ArchiveWebRefClassic_ArchiveWS"
                serializeAs="String">
                <value>http://localhost/CallRecorder/ArchiveServices/ArchiveWS.asmx</value>
            </setting>
        </SRIPArchiveClientToolsForm.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SRIPArchiveClientToolsForm.Properties.Settings>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLocationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLocationY" serializeAs="String">
                <value>0</value>
            </setting>
        </SRIPArchiveClientToolsForm.Properties.Settings>
        <SRIPArchiveClientForm.Properties.Settings>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLocationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLocationY" serializeAs="String">
                <value>0</value>
            </setting>
        </SRIPArchiveClientForm.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>

  <!-- 15 Sept 2009:    -->
  <!-- BindingRedirect used to load strong-named libraries only  -->
  <!-- v2.0.4.0 can be installed in the SQL 2K5 CLR -->
  
    <!--
      <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <dependentAssembly>
            <assemblyIdentity name="TimezoneFunctions" publicKeyToken="670fe1962742a9d3"/>
            <bindingRedirect oldVersion="1.0.0.0-2.0.3347.19870" newVersion="2.0.4.0"/>
          </dependentAssembly>     
        </assemblyBinding>
      </runtime>
    -->

</configuration>